body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff; 
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #6b4ae3;
}

.character-creation-form {
    width: 65%; 
    height: 80vh; 
    margin: auto;
    margin-top: 6%;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 30px; 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    z-index: 3; /* Ensure the form is above the background image */
}

.character-creation-form label {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.character-creation-form input,
.character-creation-form select,
.character-creation-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.character-creation-form button {
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.image-selection {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    overflow: hidden;
}

.image-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.image-item.selected {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.chat-history {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

.chat-message {
    display: flex;
    align-items: center; /* Center align both image/initial and message */
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.chat-message.user {
    justify-content: flex-end;
    text-align: right;
}

.chat-message.character {
    justify-content: flex-start;
    text-align: left;
}

.chat-message p {
    background-color: #ff90f9;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.chat-message.user p {
    background-color: #007bff;
    color: #fff;
}

.chat-message.character .profile-pic,
.chat-message.character .profile-initials {
    margin-right: 10px;
}

.chat-message.user .profile-pic,
.chat-message.user .profile-initials {
    margin-left: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}

.chat-input-form {
    position: relative;
    width: 100%;
}

.chat-input-form input {
    width: 100%;
    padding: 15px;
    padding-right: 50px; 
    border: 1px solid #000;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 0;
}

.chat-input-form input:focus {
    border-color: #007bff;
    outline: none;
}

.chat-input-form button {
    position: absolute;
    right: 10px;
    top: 10%; 
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.chat-input-form button:disabled {
    cursor: not-allowed;
}

@keyframes spin {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.spinner {
    animation: spin 1.5s ease-in-out infinite;
}

.path {
    stroke: #007bff;
    stroke-linecap: round;
}


.characters-sidebar {
    background-color: #fff;
    width: 18%;
    height: 100vh;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.4);
  }
  
  .pages-name {
    margin: 12px;
    font-size: 1.8em;
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8064e7;
  }
  
  .characters-home, .characters-profile, .characters-signout {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    position: relative;
    top: 20px;
    right: 20px;
    text-align: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .characters-home:hover, .characters-profile:hover, .characters-signout:hover {
    background-color: #dbd9d9;
  }
  
  .characters-home.selected, .characters-profile.selected, .characters-signout.selected {
    background: linear-gradient(to right, #b8a9f4, #8064e7);
  }

  .characters-profile span,
.characters-home span{
  margin-right: 10px; 
}

.characters-signout span {
    margin-right: 3px; 
}

.dropdown-header{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    position: relative;
    top: 20px;
    right: 20px;
    text-align: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.dropdown-header:hover{
    background-color: #dbd9d9;
}

.dropdown-header.selected{
    background: linear-gradient(to right, #b8a9f4, #8064e7);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    right: 20px;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}
.dropdown-content > div {
    font-size: 0.95em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px; 
    padding: 5px 10px; 
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    width: 90%; 
}


.dropdown-content > div:hover {
    background-color: #dbd9d9; 
}

.dropdown-header span{
    margin-right: 10px;
}