.container {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    height: 100vh;
    background-color: #465098;
    overflow: hidden;
}

.subContainer {
    width: 100%;
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b4ae3 !important;
}

.image {
    width: 75%;
    height: 60%;
    text-align: center;
}

.footer {
    color: whitesmoke;
    margin-top: 3rem;
    font-size: 12px;
}

.tabContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: whitesmoke;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-family: "Orbitron", sans-serif; 
    font-style: normal;
    font-size: 36px;                   
    color: #465098;                 
    text-align: center;               
    font-weight: 700;                    
    margin-bottom: 1rem;            
}

.tab {
    text-align: center;
    padding: 2rem;
    padding-top: 1rem;
}

.tabFooter {
    margin-top: 1rem;
    font-size: 12px;
}

.typewriter-text {
    font-family: "Blaka Hollow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF; /* Assuming you want white text */
    font-size: 120px; /* Or any other size */
}